<div class="entry">
  <h1>{{title}}</h1>
  <div class="body">{{body}}</div>
  <a href="/help/1" title="Go to Help Page">Go To Help Page</a>
  <a href="/authors" title="Go to Authors Page">Go To Authors Page</a>
</div>
